{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LabelleProject</th>
                <th>BudgetProject</th>
                <th>Description</th>
                <th>DeadlineProject</th>
                <th>LogoProject</th>
                <th>ResponsibleProject</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.labelleProject }}</td>
                <td>{{ project.budgetProject }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.deadlineProject ? project.deadlineProject|date('Y-m-d') : '' }}</td>
                <td>{{ project.logoProject }}</td>
                <td>{{ project.responsibleProject }}</td>
                <td>{{ project.createdAt ? project.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ project.updateAt ? project.updateAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
